################################################################################
# inTable Service Git Attribute
################################################################################



################################################################################
# Binary Files
################################################################################
*.pdf binary
*.psd binary
*.ai binary
*.png binary
*.jpg binary
*.gif binary
*.doc binary
*.docx binary
*.ppt binary
*.pptx binary
*.xls binary
*.xlsx binary
*.hwp binary
*.hwpx binary
################################################################################
